<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 16px;
        }
        .title {
            text-align: center;
            font-size: 3em;
            margin-top: 20px;
        }
        .progress-bar {
            width: 80%;
            background-color: #f3f3f3;
            border-radius: 3px;
            margin: 20px auto;
            padding: 3px;
        }
        .fill {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 30px;
            background-color: #4caf50;
            border-radius: 3px;
            width: 0%;
            transition: width 0.4s ease-in-out;
            color: #fff;
            padding-right: 10px;
        }
        .label {
            text-align: center;
            padding: 5px;
            font-size: 1.5em;
        }
        .percentage {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="title">
        Brandon Sanderson's Works In Progress
    </div>
    {{range .}}
    <div class="progress-bar">
        <span class="label">{{.Title}}</span>
        <div class="fill" style="width:{{.Progress}}%">
          <span class="percentage">{{.Progress}}%</span>
        </div>
    </div>
    {{end}}
</body>
</html>